/* You can add global styles to this file, and also import other style files */

// html, body{ height: 100%; }

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body:not(.icons) { margin: 0; font-family: 'Tajawal', sans-serif !important;  }
*:not(.icons){
    font-family: 'Tajawal', sans-serif !important;
}

footer{
    margin-top: auto;
}